@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Share+Tech+Mono&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}


@keyframes bounce1 {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-8px); }
}

@keyframes bounce2 {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-16px); }
}

@keyframes bounce3 {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-24px); }
}

@keyframes bounce4 {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-32px); }
}

.animate-bounce1 {
    animation: bounce1 1s ease-in-out infinite;
}

.animate-bounce2 {
    animation: bounce2 1s ease-in-out infinite;
}

.animate-bounce3 {
    animation: bounce3 1s ease-in-out infinite;
}

.animate-bounce4 {
    animation: bounce4 1s ease-in-out infinite;
}

/* The main scrollbar */
::-webkit-scrollbar {
    width: 8px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: rgb(3,7,18); /* Set the color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background: rgb(60, 60, 65); /* Set the color of the scrollbar thumb */
    border-radius: 10px; /* Set the border radius of the thumb */
}

/* CSS */
.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #999999 #F3F4F6;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: rgb(200, 202, 204);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgb(169, 164, 164);
    border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #888888;
}


.custom-scrollbar-dark {
    scrollbar-width: thin;
    scrollbar-color: #999999 #F3F4F6;
}

.custom-scrollbar-dark::-webkit-scrollbar {
    width: 6px;
    border-radius: 3px;
}

.custom-scrollbar-dark::-webkit-scrollbar-track {
    background: rgb(3,7,18);
}

.custom-scrollbar-dark::-webkit-scrollbar-thumb {
    background: rgb(60, 60, 65);
    border-radius: 3px;
}

.custom-scrollbar-dark::-webkit-scrollbar-thumb:hover {
    background: rgb(47, 47, 52);
}
